<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="hello" class="com.codewithz.Hello">
   	<property name="message" value="Hey Coding Owls"></property>
   </bean>
   
   <bean id="car" class="com.codewithz.Car">
   <constructor-arg value="Tata Nexon"></constructor-arg>
   <constructor-arg value="1250000"></constructor-arg>
   </bean>
   
</beans>